.jumbotron
  %h2 Libraries
  %p.lead A list of labraries retrieved by the app
.row
  %table.table
    %thead
      %tr
        %th{scope: "col"} #
        %th{scope: "col"} Repository
        %th{scope: "col"} Url
    %tbody
      - for {repository, idx} <- Stream.with_index(@repositories, 1) do
        %tr
          %th{scope: "col"}= idx
            %td= link(repository.name, to: repository_path(@conn, :show, repository.id))
            %td= link(repository.url, to: repository.url)
